@import "../../scss/index.scss";
.headerSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .headerAlignment {
        @include flex-between;
        padding: 24px 0;
        .headerLogo {
            width: 223px;
            height: 43px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .headerRightSide {
            @include flex;
            gap: 50px;

            .headerMenu {
                @include flex;
                gap: 40px;
                a {
                    @include text16-meduim;
                    color: $white-color;
                    cursor: pointer;
                }
            }

            .headerSearchAlignment {
                @include flex;
                gap: 20px;
                img {
                    width: 16px;
                    height: 16px;
                    display: block;
                    cursor: pointer;
                }
                .searchButtonAlignment {
                    button {
                        background: $button-bg-bolor;
                        padding: 10px 30px;
                        border-radius: 50px;
                        @include text16-meduim;
                        color: $white-color;
                        border: none;
                        @include flex;
                        gap: 5px;
                    }
                }
            }
        }
    }
}
