@import "../../scss/index.scss";

.layoutCustomSection {
    display: flex;

    .layoutCustomLeft {
        width: 300px;
        transition: 0.4s ease-in-out;

        @include breakpoint(md-max) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
        }
    }

    .layoutCustomLefts {
        width: 0px;
        overflow: hidden;
        transition: 0.4s ease-in-out;
    }

    .layoutCustomRight {
        width: calc(100% - 300px);
        height: 100vh;
        overflow-y: auto;
        transition: 0.4s ease-in-out;
        
        @include breakpoint(md-max) {
            width: 100%;
        }
    }

    .layoutCustomRights {
        width: 100%;
        transition: 0.4s ease-in-out;
    }
}
