@import "../../scss/index.scss";

.layoutCustomSection {
    display: flex;

    .layoutCustomLeft {
        width: 300px;
        transition: 0.4s ease-in-out;

    }

    .layoutCustomLefts {
        display: none;
    }

    .layoutCustomRight {
        width: calc(100% - 300px);
    }

    .layoutCustomRights {
        width: calc(100%);

    }
}