@import "../../scss/index.scss";
.headerSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition:
        background-color 0.3s ease,
        backdrop-filter 0.3s ease;

    .headerAlignment {
        @include flex-between;
        padding: 24px 0;

        .headerLogo {
            width: 223px;
            height: 43px;
            cursor: pointer;

            @include breakpoint("lg-max") {
                width: 180px;
                height: 32px;
            }

            @include breakpoint("sm-max") {
                width: 118px;
                height: 32px;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .headerRightSide {
            @include flex;
            gap: 50px;

            @include breakpoint("lg-max") {
                gap: 24px;
            }

            .headerMenu {
                @include flex;
                gap: 40px;

                @include breakpoint("lg-max") {
                    gap: 24px;
                }

                @include breakpoint("md-max") {
                    display: none;
                }

                a {
                    @include text16-meduim;
                    color: $white-color; // Default color for unscrolled state
                    cursor: pointer;

                    @include breakpoint("lg-max") {
                        font-size: 14px;
                    }
                }
            }

            .headerSearchAlignment {
                @include flex;
                gap: 20px;

                img {
                    width: 16px;
                    height: 16px;
                    display: block;
                    cursor: pointer;
                }

                .searchButtonAlignment {
                    @include breakpoint("md-max") {
                        display: none;
                    }

                    button {
                        background: $button-bg-bolor;
                        padding: 10px 30px;
                        border-radius: 50px;
                        @include text16-meduim;
                        color: $white-color; // Default color for unscrolled state
                        border: none;
                        @include flex;
                        gap: 5px;
                    }
                }
            }

            .moreIcon {
                width: 32px;
                height: 32px;
                display: none;

                @include breakpoint("md-max") {
                    display: block;
                }

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }

    .headerSidebarViewWrapper {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        z-index: 999;
        display: flex;
        justify-content: flex-end;
    }

    .headerSidebarViewBox {
        width: 280px;
        height: 100vh;
        background: $white-color;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;

        &.openMobileVIew {
            transform: translateX(0%);
            transition: 0.4s ease-in-out;
        }

        &.closeMobileView {
            transform: translateX(100%);
            transition: 0.4s ease-in-out;
        }

        .headerTopHeadingAlignment {
            @include flex-between;
            padding: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.6);
            background: $login-side-bg;

            .mobileViewLogo {
                width: 118px;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

            .mobileViewCloseIcon {
                width: 24px;
                height: 24px;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }

        .mobileViewMenuAlignment {
            padding: 20px;

            a {
                @include text16-meduim;
                color: $black-color2;
                cursor: pointer;
                display: block;
                padding: 0 0 20px 0;
            }

            .mobileSearchButtonAlignment {
                @include flex;
                gap: 20px;

                img {
                    width: 16px;
                    height: 16px;
                    display: block;
                    cursor: pointer;
                }

                button {
                    background: $button-bg-bolor;
                    padding: 10px 30px;
                    border-radius: 50px;
                    @include text16-meduim;
                    color: $white-color;
                    border: none;
                    @include flex;
                    gap: 5px;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }

    &.scrolled {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);

        .headerRightSide {
            .headerMenu {
                a {
                    color: $black-color2; // Change to your desired font color
                }
            }

            .headerSearchAlignment {
                .searchIcon {
                    img {
                        filter: brightness(0); // Change icon color
                    }
                }
            }
            .moreIcon {
                img {
                    filter: brightness(0); // Change icon color
                }
            }
        }
    }
}
