@import "../../../scss/index.scss";

.homeBannerSection {
    width: 100%;
    position: relative;
    background: $login-side-bg;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: url("/assets/images/home-bg-vectore.png");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .homeBannerAlignment {
        @include flex;
        gap: 27px;
        height: 100vh;
        padding: 70px 0 0 0;

        @include breakpoint("md-max") {
            height: 640px;
        }

        @include breakpoint("sm-max") {
            height: auto;
            flex-wrap: wrap;
        }

        .heroBannerLeftSide {
            position: relative;
            max-width: 545px;
            z-index: 9;
            @include breakpoint("sm-max") {
                max-width: 100%;
                padding: 20px;
            }
            h1 {
                @include text56-bold;
                color: $white-color;
                padding: 0 0 16px 0;
                @include breakpoint("lg-max") {
                    font-size: 46px;
                }
                @include breakpoint("sm-max") {
                    font-size: 26px;
                    line-height: 32px;
                    padding: 0 0 10px 0;
                }
            }
            p {
                @include text18;
                color: $white-color;
                padding: 0 0 12px 0;

                @include breakpoint("sm-max") {
                    font-size: 14px;
                    line-height: 21px;
                    padding: 0 0 6px 0;
                }
            }
            button {
                padding: 12px 40px;
                border-radius: 50px;
                color: $white-color;
                @include text16-bold;
                cursor: pointer;
                color: $black-color2;
                border: none;

                @include breakpoint("sm-max") {
                    font-size: 14px;
                    line-height: 21px;
                    padding: 10px 30px;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}
