@import "../../../scss/index.scss";

.signupSidebarBannerSection {
    background: $login-side-bg;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 35px 0;
    overflow-y: hidden;
    @include breakpoint("lg-max") {
        padding: 20px;
    }
    @include breakpoint("md-max") {
        display: none;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: url("../../../../public/assets/images/bg-img.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .signupSidebarBannerDetails {
        position: relative;
        z-index: 9;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        max-width: 460px;
        text-align: left;
        margin: 0 auto;
        .logo {
            max-width: 150px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .signupSideBannerBottom {
            @include flex-center;
            flex-direction: column;
            gap: 30px;
            height: 100%;
            .contentAlignment {
                padding: 20px 0 0 0;
                @include breakpoint("lg-max") {
                    padding: 0;
                    max-width: 100%;
                }
                @include breakpoint("md-max") {
                    max-width: 400px;
                }
                h2 {
                    @include text48-bold;
                    color: $white-color;

                    @include breakpoint("lg-max") {
                        font-size: 40px;
                        line-height: 48px;
                    }
                }
                p {
                    // padding: 30px 0 0 0;
                    // @include text24;
                    color: $white-color;
                    padding: 10px 0 0 0;
                    @include text18;
                    max-width: 405px;
                }
            }
            .loginVectoreImg {
                display: flex;
                justify-content: flex-end;
                // padding: 54px 158px 0 0;
                width: 100%;

                padding: 0 40px 0 0;

                .signupVectore {
                    max-width: 688px;

                    @media (max-width: 1299px) {
                        max-width: 305px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}
