@import "../../scss/mixins/index.scss";

.signupSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint("md-max") {
        grid-template-columns: 1fr;
    }
}
