@import "../../../scss/index.scss";

.howItWorkSection {
    padding: 196px 0 0 0;

    .howItWorkAlignment {
        width: 100%;
        background: url("/assets/images/how-it-work-bg.png");
        background-color: rgba(29, 99, 220, 0.9);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 40px 120px 40px;

        .howItWorkAllDetails {
            .howItWorkHeading {
                text-align: center;
                h2 {
                    @include text50;
                    color: $white-color;

                    span {
                        color: $button-bg-bolor;
                    }
                }
            }
            .howItWorkAllChildDetails {
                padding: 60px 0 0 0;
                .howItWorkAllGrid {
                    display: grid;
                    grid-template-columns: 1fr 318px 1fr;
                    gap: 68px;

                    .howItWorkAllGridItem {
                        .stepDetails {
                            h3 {
                                @include text24-bolder;
                                color: $white-color;
                            }
                            p {
                                padding: 20px 0 0 0;
                                @include text18;
                                color: #ddd;
                            }
                        }
                        .roundBoxAlignment {
                            width: 160px;
                            height: 160px;
                            border: 1.5px solid rgba(255, 255, 255, 0.5);
                            border-radius: 50%;
                            @include flex-center;
                            position: relative;
                            .childRoundAlignment {
                                width: 108px;
                                height: 108px;
                                border-radius: 50%;
                                background: $button-bg-bolor;
                                @include flex-center;
                            }
                        }
                    }
                    &:nth-child(even) {
                        .howItWorkAllGridItem {
                            @include flex;
                            justify-content: flex-end;
                        }
                    }
                    &:nth-child(odd) {
                        .howItWorkAllGridItem {
                         .stepDetails {
                            text-align: right;
                         }
                        }
                    }


                    &:nth-child(1) {
                        .howItWorkAllGridItem {
                            .roundBoxAlignment {
                                &::before {
                                    position: absolute;
                                    height: 68px;
                                    right: 0;
                                    content: "";
                                    background: rgba(255, 255, 255, 0.5);
                                    width: 1.5px;
                                    transform: rotate(144deg);
                                    bottom: -38px;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        .howItWorkAllGridItem {
                            .roundBoxAlignment {
                                &::before {
                                    position: absolute;
                                    height: 68px;
                                    left: 0;
                                    content: "";
                                    background: rgba(255, 255, 255, 0.5);
                                    width: 1.5px;
                                    transform: rotate(221deg);
                                    bottom: -38px;
                                }
                            }
                        }
                    }
                    &:nth-child(3) {
                        .howItWorkAllGridItem {
                            .roundBoxAlignment {
                                &::before {
                                    position: absolute;
                                    height: 68px;
                                    right: 0;
                                    content: "";
                                    background: rgba(255, 255, 255, 0.5);
                                    width: 1.5px;
                                    transform: rotate(144deg);
                                    bottom: -38px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
