$login-side-bg: linear-gradient(180deg, #1d63dc 0%, #14469d 100%);
$body-bg: #f1f6ff;
$white-color: #fff;
$white-opcity-bg1: rgba(255, 255, 255, 0.1);
$black-color2: #282929;
$black-color3: #666;
$black-color4: #404040;

$button-bg-bolor: #f09643;
$btn-border-color: rgba(40, 41, 41, 0.3);
$blue-color: #1d63dc;

$toggleBorder: rgba(29, 99, 220, 0.5);
$input-bg: rgba(40, 41, 41, 0.1);
$border-color: #bbb;
$dropdown-bg: #fcfdfd;
$black-opcity-border-color: rgba(40, 41, 41, 0.5);

$black-opcity-border-color2: rgba(0, 0, 0, 0.2);
$table-heding-bg-color: #f1f6ff;
$green-color: #1ccab8;

$modal-bg-wrapper-bg-color: rgba(0, 0, 0, 0.7);
